
a{
  color: black !important;
}

.brand-logo,h2{
  font-family: 'Grand Hotel', cursive;
}

.mycard{
  margin-top: 30px;
}
.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.home-card{
  max-width: 500px;
  height: max-content;
  margin: 26px auto;

}
